@{
    ViewBag.Title = "Index";
}
<h2>Individual Table</h2>
<style>
    td{
        word-break:break-all;
        width:70px;
        padding:6px;
    }
    .fluid-box{
        display:inline-block;
        border:1px solid gray;
    }
    .Mark{
        font-size:20px;
        display:block;
        text-align:center;
    }
    .mark-point-maxValue{
        color:gray;
    }
    .subName{
        font-size:24px;
    }
</style>
<div>
    <h4>@ViewData["StudentFullName"]</h4>
    <div class="table">
        @foreach (var item in ViewData["Subjects"] as ICollection<StudentMonitoringSystem.Models.Subject>)
        {
            
                <div class="subName">@item.Name</div>
    <div>
        @foreach (var point in item.Points as ICollection<StudentMonitoringSystem.Models.MarkPoint>){<div class="fluid-box"><span class="mark-point-name">@point.Name</span> <span class="mark-point-maxValue">(@point.maxValue)</span> <br /><span class="Mark">@point.Marks.First().Value</span></div>}
    </div>
        }
    </div>
</div>

